body {
    background-color: aquamarine;
    background-size: cover;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#secondclass {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
#para{
  font-size: 25px;
}
.container{
  background-color: bisque;
  max-width: 80%;
  max-height: 80%;
  padding: 120px;
  margin: 100px;
  border:3px solid black;
  border-radius: 10px;
}
#head{
  color: brown;
  font-family:fantasy;
  font-size:80px ;
  font-weight: 100;

}
